In [1]:
#Sequence Type - List
contoh_list = [1,'dua',3,4.0,5]
print(contoh_list [0])
print(contoh_list [3])
contoh_list = [1,'dua',3,4.0,5]
contoh_list[3] = 'empat'
print(contoh_list[3])

1
4.0
empat

In [2]:
#Sequence Type - Tuple
contoh_tuple = ['januari','februari','maret','april']
print(contoh_tuple[0])
contoh_tuple = ['januari','februari','maret','april'] 
contoh_tuple[0] = 'desember'

januari

In [3]:
#Set Type
contoh_list = ['Dewi', 'Budi', 'Cici', 'Linda', 'Cici'] 
print(contoh_list)
contoh_set = {'Dewi', 'Budi', 'Cici', 'Linda', 'Cici'} 
print(contoh_set)
contoh_frozen_set = ({'Dewi', 'Budi', 'Cici', 'Linda', 'Cici'})
print(contoh_frozen_set)

['Dewi', 'Budi', 'Cici', 'Linda', 'Cici']
{'Cici', 'Budi', 'Dewi', 'Linda'}
{'Cici', 'Budi', 'Dewi', 'Linda'}

In [4]:
#Mapping Type
person = {'nama' : 'John Doe','pekerjaan': 'programmer'}
print(person['nama'])
print(person['pekerjaan'])

John Doe
programmer

## Tugas Praktek
Ternyata seru juga! Aku jadi berniat mengembangkan program kalkulator potongan harga ini untuk beberapa barang sekaligus agar lebih fungsional. Kalau begitu aku perlu rapikan dulu informasi setiap barang di tabel ini.

“Lalu, aku tinggal merepresentasikan semuanya ke tipe data dictionary, dengan begitu akan lebih mudah mengolahnya,” gumamku.
Aku pun mulai mendeklarasikan variabel sepatu, baju, dan celana untuk menampung informasi barang ke dalam live code editor.


Nama Barang    Sepatu Niko   Baju Unikloh  Celana Lepis

Harga          150000        80000          200000

Diskon         30000         8000           60000

Setelah berhasil merepresentasikan setiap barang ke dalam tipe data dictionary dengan variabel nama, harga, dan diskon, langkahku selanjutnya adalah: mendeklarasikan list dengan nama daftar_belanja yang berisi data sepatu, baju, dan celana. 

Dengan data yang aku miliki, aku bisa menghitung total harga jual dengan potongan harga dengan pajak sebesar 10% dari nilai jual. 

Untungnya Senja memberikan beberapa tips untuk menyelesaikan tugas ini:

Tips 1. # Data yang dinyatakan ke dalam dictionary
Tips 2. # Hitung harga masing-masing data setelah dikurangi diskon
Tips 3. # Hitung harga total
Tips 4. # Hitung harga kena pajak
Tips 5. # Cetak total_harga + total_pajak

In [6]:
#Tugas Praktek
# Data yang dinyatakan ke dalam dictionary
sepatu = {"nama": "Sepatu Niko", "harga": 150000, "diskon": 30000} 
baju = {"nama": "Baju Unikloh", "harga": 80000, "diskon": 8000} 
celana = {"nama": "Celana Lepis", "harga": 200000, "diskon": 60000}
# Hitunglah harga masing-masing data setelah dikurangi diskon
harga_sepatu = sepatu["harga"] - sepatu["diskon"]
harga_baju = baju["harga"] - baju["diskon"]
harga_celana = celana["harga"] - celana["diskon"]
# Hitung harga total
total_harga = harga_sepatu + harga_baju + harga_celana
# Hitung harga kena pajak
total_pajak = total_harga* 0.1
# Cetak total_harga + total_pajak
print(total_harga + total_pajak)

365200.0